:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --white: #ffffff;
  --black: #000000;
  --link-color: rgba(255, 255, 255, 0.6);
  --section-bcg-color: #f5f4fa;
  --footer-bcg-color: #2f303a;
}
*,
::before,
::after {
  box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
body {
  background-color: var(--white);
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
}
.container {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
}
.site-nav {
  display: flex;
  align-items: center;
}
.list {
  list-style-type: none;
}
.list.filters {
  margin-bottom: 56px;
}
.header {
  border-bottom: 1px solid #ececec;
}
.footer,
.hero {
  background-color: var(--footer-bcg-color);
}
.team {
  background-color: var(--section-bcg-color);
}
.site-nav .link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--title-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.site-nav .item {
  margin-right: 50px;
}
.site-nav .item:last-child {
  margin-right: 0;
}
.site-nav .link.current {
  color: var(--accent-color);
  text-decoration: none;
}
.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}
.auth-site {
  display: flex;
  margin-left: auto;
}
.auth-site .item + .item {
  margin-left: 50px;
}

.auth-site .link {
  display: flex;
  align-items: center;
  color: var(--primary-text-color);
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.auth-site .link:hover,
.auth-site .link:focus {
  color: var(--accent-color);
}
.envelope-icon {
  width: 16px;
  height: 12px;
  margin-right: 10px;
  fill: currentColor;
}
.mobile-icon {
  width: 10px;
  height: 16px;
  margin-right: 10px;
  fill: currentColor;
}
.main-nav {
  display: flex;
  align-items: center;
}
.hero-title {
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  color: var(--white);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  width: 696px;
}
.section-title {
  margin-bottom: 50px;
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
}
.title-features {
  margin-bottom: 10px;
  margin-top: 30px;
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}
.team .title {
  margin-bottom: 10px;
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
}
.portfolio-title {
  margin-bottom: 4px;
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.overlay {
  height: 600px;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/background.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.icon {
  display: block;
}
.team.icon {
  margin-bottom: 30px;
}
.portfolio .item .link:hover .overlay-text {
  transform: translateY(0%);
}
.portfolio-thumb {
  position: relative;
  overflow: hidden;
  min-width: 370px;
  min-height: 294px;
}
.overlay-text {
  position: absolute; 
  bottom: 0;
  right: 0;
  content: '';
  padding: 63px 24px;
  transform: translateY(101%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
}
.portfolio-text {
  text-decoration: none;
  color: var(--white);
  font-size: 18px;
  line-height: 1.55;
}
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
.features .text {
  font-size: 14px;
  line-height: 1.71;
}
.features.list {
  display: flex;
  margin-right: auto;
  margin-left: auto;
}
.features .item {
  margin-right: 30px;
  width: 270px;
}
.features .item:last-child {
  margin-right: 0;
}
.features .item::before {
  display: block;
  content: '';
  height: 120px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: var(--section-bcg-color);
  border-radius: 4px;
}
.features .antenna::before {
  background-image: url(../images/antenna.svg);
}
.features .clock::before {
  background-image: url(../images/clock.svg);
}
.features .diagram::before {
  background-image: url(../images/diagram.svg);
}
.features .astronaut::before {
  background-image: url(../images/astronaut.svg);
}
.stidio-thumb {
  position: relative;
}
.stidio-thumb::after {
  display: inline-block;
  content: '';
  position: absolute;
  width: 100%;
  height: 4px;
  bottom: -1px;
  left: 0;
  background-color: var(--accent-color);
  border-radius: 2px;
}
.portfolio-info {
  padding: 20px 24px;
}
.portfolio-link-thumb {
  position: relative;
}
.portfolio-link-thumb::after {
  display: inline-block;
  content: '';
  position: absolute;
  width: 100%;
  height: 4px;
  bottom: -1px;
  left: 0;
  background-color: var(--accent-color);
  border-radius: 2px;
}
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 2;
  transition: opacity 300ms cubic-bezier(0.4, 0, 0.2, 1), visibility 300ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}
.backdrop.is-hidden .modal{
  transform: translate(-50%, -60%);
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: transform 300ms ease-out;
  width: 528px;
  height: 581px;
  background-color: var(--white);
  border-radius: 4px;
  box-shadow: 0 2px 1px rgba(0, 0, 0, 0.2), 0 1px 1px rgba(0, 0, 0, 0.14),
    0 1px 3px rgba(0, 0, 0, 0.12);
}
.modal-text {
	font-weight: 700;
	font-size: 20px;
	line-height: calc(23 / 20);
	text-align: center;
	letter-spacing: 0.03em;
	margin-bottom: 12px;
	display: block;

	color: #212121;
}
.contact-form-field {
	position: relative;
}
.contact-form-label {
	font-size: 12px;
	line-height: calc(14 / 12);
	letter-spacing: 0.01em;
	color: #757575;
	display: block;
	margin-bottom: 4px;
  margin-left: 40px;
}
.contact-form-box {
	display: block;
	position: relative;
}

.contact-form-name {
	display: block;
	width: 448px;
	border: 1px solid rgba(33, 33, 33, 0.2);
	border-radius: 4px;
	height: 40px;
	padding: 11px 42px;
  margin-left: 40px;
  margin-bottom: 10px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contact-form-name:focus {
  border-color: var(--accent-color);
  cursor: pointer;
}
.contact-form-icon {
	position: absolute;
	left: 52px;
	top: 50%;
	width: 18px;
	height: 18px;
	fill: #212121;
	transform: translateY(-50%);
	pointer-events: none;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contact-form-name:focus+.contact-form-icon {
  fill: var(--accent-color);
}
.contact-icon-position {
  margin-top: 10px;
  margin-bottom: 4px;
}

.contact-form-comment {
	width: 448px;
	height: 120px;
	border: 1px solid rgba(33, 33, 33, 0.2);
	border-radius: 4px;
	resize: none;
	display: block;
	padding: 12px 16px;
  margin-left: 40px;
  margin-bottom: 20px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contact-form-comment:focus {
  border-color: var(--accent-color);
  cursor: pointer;
}

.contact-form-comment::placeholder {
	font-size: 12px;
	line-height: calc(14 / 12);
	letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.contact-form-accept {
  display: flex;
  margin-bottom: 30px;
  margin-left: 51px;
  align-items: center;
}

.contact-form-icon-accept {
	transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
	opacity: 0;
}

.contact-form-icon-unaccept {
	transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contact-form-checkbox-icon {
	width: 16px;
	height: 15px;
  margin-right: 7px;
}
.contact-form-checkbox:checked + .contact-form-checkbox-icon .contact-form-icon-accept {
	opacity: 1;
}

.contact-form-checkbox:checked + .contact-form-checkbox-icon .contact-form-icon-unaccept {
	opacity: 0;
}

.contact-form-text {
	user-select: none;
  font-size: 14px;
  line-height: calc(24 / 14);
}

.contact-form-link {
color: var(--accent-color);
font-size: 14px;
line-height: calc(24 / 14);
}
.contact-form-text-link {
  width: 400px;
}
.list.examples {
  display: flex;
  margin-right: auto;
  margin-left: auto;
}
.list.examples .item {
  margin-right: 30px;
}
.examples-thumb {
  position: relative;
}
.examples-thumb::before {
  display: inline-block;
  content: '';
  position: absolute;
  width: 100%;
  height: 70px;
  bottom: 0;
  background-color: rgba(47, 48, 58, 0.8);
}
.examples-text {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%);
  padding-bottom: 27px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.17;
  color: var(--white);
  text-transform: uppercase;
  z-index: 1;
}
.list.examples .item:last-child {
  margin-right: 0;
}

.team .text {
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
}
.list.team {
  display: flex;
  margin-right: auto;
  margin-left: auto;
}
.list.team .item-team {
  margin-right: 30px;
  background-color: var(--white);
  box-shadow: 0 2px 1px rgba(0, 0, 0, 0.2), 0 1px 1px rgba(0, 0, 0, 0.14),
    0 1px 3px rgba(0, 0, 0, 0.12);
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
.list.team .item:last-child {
  margin-right: 0;
}
.list.icons {
  display: flex;
  padding: 0 32px 30px 32px;
}
.social-icon {
  width: 20px;
  height: 20px;
  fill: currentColor;
}
.list.icons .item {
  margin-right: 10px;
}
.list.icons .item:last-child {
  margin-right: 0;
}
.icons .button:hover,
.icons .button:focus {
  color: var(--white);
  background-color: var(--accent-color);
}
.list.filters {
  display: flex;
  justify-content: center;
}
.list.filters .item {
  margin-right: 8px;
}
.list.filters .item:last-child {
  margin-right: 0;
}
.list.portfolio {
  display: flex;
  flex-wrap: wrap;
}
.list.portfolio .item {
  width: calc((100% - 60px) / 3);
  margin-right: 30px;
  margin-bottom: 30px;
}
.list.portfolio .item:nth-child(3n) {
  margin-right: 0;
}
.list.portfolio .item:nth-last-child(-n + 3) {
  margin-bottom: 0;
}
.button {
  display: inline-block;
  background-color: var(--section-bcg-color);
  color: var(--title-text-color);
  cursor: pointer;
  font-family: inherit;
  border: transparent;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
   background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
   box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button.primary {
  display: block;
  margin: 0 auto;
  background-color: var(--accent-color);
  color: var(--white);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding: 10px 32px;
  min-width: 200px;
  text-align: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
   background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button.secondary {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  border-radius: 4px;
  padding: 6px 22px;
  text-align: center;
}
.button:hover,
.button:focus {
  background-color: var(--accent-color);
  color: var(--white);
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.08),
    0 3px 1px rgba(0, 0, 0, 0.1);
}
.button.primary:hover,
.button.primary:focus {
  background-color: #188ce8;
  color: var(--white);
}
.close {
  width: 18px;
  height: 18px;
  fill: currentColor;
}
.button-close {
  display: flex;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: transparent;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  align-items: center;
  justify-content: center;
  margin-left: 490px;
  margin-top: 8px;
  color: var(--black);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button-close:hover {
  color: var(--accent-color);
  cursor: pointer;
}
.icons .button {
  display: flex;
  padding: 0;
  border-radius: 50%;
  border: none;
  background-color: var(--white);
  min-width: 44px;
  min-height: 44px;
  box-shadow: none;
  justify-content: center;
  align-items: center;
  color: #afb1b8;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
   background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.list.portfolio .item .link {
  text-decoration: none;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
}
.list.portfolio .item .link:hover,
.list.portfolio .item .link:focus {
  display: block;
  box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 0 4px 4px rgba(0, 0, 0, 0.06),
    0 1px 1px rgba(0, 0, 0, 0.12);
}
.portfolio .text {
  font-size: 16px;
  line-height: 1.88;
  color: var(--primary-text-color);
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.section.features {
  padding-bottom: 0;
}
.hero.section {
  padding-top: 200px;
  padding-bottom: 200px;
}
.list.clients {
  display: flex;
  justify-content: space-between;
  margin-right: auto;
  margin-left: auto;
}
.clients-button {
  width: 106px;
  height: 60px;
  fill: currentColor;
}
.clients .button {
  display: flex;
  padding: 0;
  border-radius: 4px;
  color: rgba(175, 177, 184, 1);
  border: 1px solid rgba(175, 177, 184, 1);
  background-color: var(--white);
  min-width: 170px;
  min-height: 92px;
  box-shadow: none;
  justify-content: center;
  align-items: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
   border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients .button:hover,
.clients .button:focus {
  border-color: var(--accent-color);
  color: var(--accent-color);
}
.address .link.adrs {
  color: var(--white);
  text-decoration: none;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
}
.address .link {
  color: var(--link-color);
  text-decoration: none;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.address .link:hover,
.address .link:focus {
  color: var(--accent-color);
}
.footer {
  display: flex;
  padding-top: 60px;
  padding-bottom: 60px;
}
.list.address {
  display: block;
  margin-top: 20px;
}
.list.address .item {
  margin-bottom: 9px;
}
.list.address .item:last-child {
  margin-bottom: 0;
}
.social-links .button {
  display: flex;
  padding: 0;
  border-radius: 50%;
  border: none;
  background-color: #ffffff1a;
  min-width: 44px;
  min-height: 44px;
  box-shadow: none;
  justify-content: center;
  align-items: center;
  color: var(--white);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-links .button:hover,
.social-links .button:focus {
  background-color: var(--accent-color);
}
.list.social-links {
  display: flex;
  margin-left: 0;
  margin-right: 93px;
}
.footer-span {
  text-align: left;
  color: var(--white);
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1.18;
  margin-bottom: 20px;
}
.social-links .item {
  margin-right: 10px;
}
.container.address {
  display: flex;
  align-items: baseline;
}
.footer-block {
  margin-right: 70px;
}

.subscription-form {
  display: flex;
}
.subscription-form-name {
	display: block;
	width: 358px;
  height: 50px;
  padding: 15px 16px;
	border: 1px solid rgba(255, 255, 255, 0.3);
	border-radius: 4px;
  outline: transparent;
  margin-right: 12px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  background-color: rgba(47, 48, 58, 1);
  color: rgba(255, 255, 255, 0.6);
}
.subscription-form-comment::placeholder {
	font-size: 16px;
	line-height: calc(20 / 16);
	letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.subscription-form-button {
  display: flex;
  margin: 0 auto;
  background-color: var(--accent-color);
  color: var(--white);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding: 0px 28px;
  min-width: 200px;
  text-align: center;
  align-items: center;
}
.send-icon {
  width: 24px;
  height: 24px;
  margin-left: 10px;
}
.logo {
  color: var(--accent-color);
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
  font-style: normal;
}

.logo.two {
  margin-right: 93px;
  color: var(--black);
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
}

.logo-three {
  color: var(--white);
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
  font-style: normal;
}
