:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --white: #FFFFFF;
  --black: #000000;
  --link-color: rgba(255, 255, 255, 0.6);
  --section-bcg-color: #f5f4fa;
  --footer-bcg-color: #2f303a;
}
*,
::before,
::after {
  box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul{
  margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
body {
  background-color: var(--white);
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
}
.container{
margin-left: auto;
margin-right: auto;
width: 1200px;
padding-left: 15px;
padding-right: 15px;
}
.site-nav {
  display: flex;
  align-items: center;
}
.list {
  list-style-type: none;
}
.list.filters{
  margin-bottom: 56px;
}
.header{
  border-bottom: 1px solid #ECECEC;
}
.hero,
.footer {
  background-color: var(--footer-bcg-color);
}
.team {
  background-color: var(--section-bcg-color);
}
.logo {
  color: var(--accent-color);
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
}
.logo.two {
  margin-right: 93px;
  color:var(--black);
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
}
.logo-three {
    color: var(--white);
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    text-decoration: none;
  }
.site-nav .link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--title-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}
.site-nav .item{
  margin-right: 50px;
}
.site-nav .item:last-child{
  margin-right: 0;
}
.site-nav .link.current {
  color: var(--accent-color);
  text-decoration: none;
}
.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}
.auth-site{
  display: flex;
  margin-left: auto;
}
.auth-site .item + .item{
  margin-left: 50px;
}
.auth-site .link {
  color: var(--primary-text-color);
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.auth-site .link:hover,
.auth-site .link:focus {
  color: var(--accent-color);
}
.main-nav{
  display: flex;
  align-items: center;
}
.hero-title {
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  color: var(--white);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  width: 696px;
}
.section-title {
  margin-bottom: 50px;
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
}
.title-features {
  margin-bottom: 10px;
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}
.team .title {
  margin-bottom: 10px;
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
}
.portfolio-title {
  margin: 0 24px;
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.icon{
  display: block;
}
.team.icon{
  margin-bottom: 30px;
}
.portfolio.icon{
  margin-bottom: 20px;
}
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
.features .text {
  font-size: 14px;
  line-height: 1.71;
}
.features.list{
  display: flex;
  margin-right: auto;
  margin-left: auto;
}
.features .item{
  margin-right: 30px;
  width: 270px;
}
.features .item:last-child{
  margin-right: 0;
}
.list.examples{
  display: flex;
  margin-right: auto;
  margin-left: auto;
}
.list.examples .item{
  margin-right: 30px;
}
.list.examples .item:last-child {
  margin-right: 0;
}

.team .text {
  margin-bottom: 30px;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
}
.list.team{
  display: flex;
  margin-right: auto;
  margin-left: auto;
}
.list.team .item{
  margin-right: 30px;
  background-color: var(--white);
}
.portfolio .text {
  font-size: 16px;
  line-height: 1.88;
  margin: 4px 24px 20px 24px;
}
.list.filters{
  display: flex;
  justify-content: center;
}
.list.filters .item{
    margin-right: 8px;
}
.list.filters .item:last-child {
  margin-right: 0;
}
.list.portfolio{
  display: flex;
  flex-wrap: wrap;
}
.list.portfolio .item{
  width: calc((100% - 60px) / 3);
  margin-right: 30px;
  margin-bottom: 30px;
  border-bottom: 1px solid #EEEEEE;
  border-left: 1px solid #EEEEEE;
  border-right: 1px solid #EEEEEE;
}
.list.portfolio .item:nth-child(3n){
  margin-right: 0;
}
.list.portfolio .item:nth-last-child(-n + 3) {
  margin-bottom: 0;
}
.button {
  display: inline-block;
  background-color: var(--section-bcg-color);
  color: var(--title-text-color);
  cursor: pointer;
  font-family: inherit;
  border: transparent;
}
.button.primary {
  display: block;
  margin: 0 auto;
  background-color: var(--accent-color);
  color: var(--white);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding: 10px 32px;
  min-width: 216px;
  text-align: center;
}
.button.secondary {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  border-radius: 4px;
  padding: 6px 22px;
  text-align: center;
}
.button:hover,
.button:focus {
  background-color: var(--accent-color);
  color: var(--white);
}
.button.primary:hover,
.button.primary:focus {
  background-color: #188CE8;
  color: var(--white);
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.section.features{
  padding-bottom: 0;
}
.hero.section {
  padding-top: 200px;
  padding-bottom: 200px;
}
.address .link.adrs {
  color: var(--white);
  text-decoration: none;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
}
.address .link {
  color: var(--link-color);
  text-decoration: none;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
}
.address .link:hover,
.address .link:focus {
  color: var(--accent-color);
}
.footer{
  padding-top: 60px;
  padding-bottom: 60px;
}
.list.address{
  display: block;
  margin-top: 20px;
}
.list.address .item{
  margin-bottom: 9px;
}
.list.address .item:last-child{
  margin-bottom: 0;
}